<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <% if current_user.logged_in? %>
        <%= current_user[user_name] %>
        <button type="button" name="<%= logout! %>"></button>
      <% else %>
    <!-- button check -->
        <button type="button" name="<%= login!(current_user) %>"></button>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
